/*.container {*/
    /*margin: auto;*/
/*}*/

/*div {*/
    /*align-items: center;*/
    /*display: flex;*/
/*}*/

h3 {
    color: black;
    margin-left: 60px;
}

#projects-icon {
    margin-left: 50px;
    margin-top: 10px;
    display: inline-block;
    height: 150px;
    width: 150px;
    border: 2px solid blue;
}
#projectsTitle {
    margin-top: 40px;
    text-align: center;
    font-weight: 900;
    font-size: 50px;
    color: hsl(210, 80%, 20%);
}

#projsec-container {
    margin-top: 40px;
    background-color: hsl(0, 0%, 90%);
    border-radius: 1%;
}
